body
{
    font: normal 15pt arial;
    background-color: rgb(190, 190, 190);
}
 /* link que foi visitado */
 a 
 {
    color: #000;
 }
 /* link que foi visitado */

 #flex
 {

    display: flex;
    flex-wrap: wrap;
    max-width: 330x;
    margin: 0 auto;

 }
section
{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    margin: auto;
    max-width: 300px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.342);
    display: block;
}
#divbt1
{
    background-color: rgb(255, 255, 255);
    height: 125px;
    width: 125px;
    margin: auto;
}
#divbt2
{
    background-color: rgb(255, 255, 255);
    height: 125px;
    width: 125px;
    margin: auto;
}
#btAceitar
{
    width: 100%;
    height: 100%;
    font-size: 15pt;
    box-shadow: 5px 5px 10px rgba(0, 255, 64, 0.438);
    border-radius: 5%;
    border: none;
    text-shadow:  0px 0px 10px rgb(8, 61, 3);
    background-color: rgb(159, 233, 152);
}
#btRecusar
{
   width: 100%;
    height: 100%;
    font-size: 15pt;
    box-shadow: 5px 5px 10px rgba(117, 29, 26, 0.438);
    border-radius: 5%;
    border: none;
    text-shadow:  0px 0px 10px rgb(61, 17, 3);
    background-color: rgb(233, 152, 152);
}
#btRecusar:active 
 {
     color: rgb(255, 255, 255);
 }
 #btAceitar:active 
{
    color: rgb(255, 255, 255);
}
#alinhamento
{
    background-color: rgba(255, 255, 255, 0);
    width: 330px;
    height: 407px;
    position: absolute;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
    margin: auto;

}