body
{
    font: normal 18pt arial;
}

#divHeader
{
font-size: 25pt;
text-align: center;
text-shadow: 3px 3px 10px black;
}


section
{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    margin: auto;
    width: 300px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.342);
    background-image: linear-gradient(to right, rgba(102, 101, 101, 0.199) , #ffffff);
}
#divForm{
    text-align: center;
}
textarea:focus, input:focus {
   
    outline: 0;
}

/*CONFIGURAÇÃO LABEL E INPUT*/

#divEspaco{
    margin-top: 20px;
}


#btnInserir,#btnVoltar{
    width: 125px;
    height: 40px;
    font-size: 15pt;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
}

input
{
    width: 165px;
    height: 25px;
    border-top:unset;
    border-right: unset;
    border-left: unset;
    background-color: #ffffff00;
    border-radius: 3px;
}
#divBtn
{
    text-align: center;
    margin-top: 75px;
}
