* {

    font-family: Arial, Helvetica, sans-serif;

}

/*---------------------CABECALHO------------------------*/
.user_info{
    text-align: right;
    
}

/*---------------------CABECALHO------------------------*/
body{

background-color: rgb(255, 255, 255);
font-family: Arial, Helvetica, sans-serif;
text-align: center;

}

table, th, td{
    
   
    color: rgb(0, 0, 0);
    border: 2px solid black ;
    border-collapse: collapse;
}

th, td{

   padding: 5px 10px;
   
}

th{

    background-color: blue;
    color: white;

}
/*even aplica em todos os elementos pares*/
table tr:nth-child(even){
    background-color: white;

}
/*even aplica em todos os elementos impares*/
table tr:nth-child(even){

    background-color: rgba(198, 228, 255, 0.767);
}

.logout,.adm-cadastrados-header-footer{
    
    color: black;
    color: inherit;
}

.letra-tabela{

    font-weight: bold;

}


.content{display: flex; margin: auto}

@media screen and (max-width: 480px){
    .content{width: 94%;}

    .rTable thead{display: none;}
    .rTable tbody{display: flex; flex-direction: column;}

}